body{
    margin: 0px;
    width: 100vw;
    height: 10vh;
    background-color: #3A3A3A;
}


/*
 --
 ---- Header :
 --
 */

.header {
    /* Pour le positionnement du header */
    position: fixed;
    z-index: 99;
    background-color: #232323;
    height: 50px;
    width: calc(100vw - 40px);
    padding-left: 15px;
    padding-right: 25px;

    /* Pour le dispositionnement des icons du header */
    display: flex;
    justify-content: space-between;
}

/* Taille et position des icons du header */
.header .icon-menu{
    width: 12px;
    height: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Positionner les liens des icons du header au centre verticalement */
.header a{
    margin-top: auto;
    margin-bottom: auto;
}

.header #logo-header {
    width: 26px;
    height: 27px;
}



/*
 --
 ---- Menu de navigation :
 -- 
 */

#nav{
    /* Pour la transaction du menu */
    width: 0;
    overflow-x: initial;
    transition: 0.5s;
    overflow: hidden;

    /* Pour le positionnement du menu */
    position: fixed;
    background-color: #232323;
    padding-top: 68px;
    height: calc(100vh - 68px);
    top: 0;

    /* Reglages de la disposition des icons en bas du menu */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Couleur white pour les liens du menu latéral et de ses icons reseaux */
#nav a,#nav svg{
    text-decoration: none;
    color: white;
    fill: white;
}

/* Couleur red' au survol des liens du menu latéral et de ses icons reseaux */
#nav a:hover, #icons-reseaux svg:hover{
    color: #B80C0C;
    fill: #B80C0C;
}

/* style des éléments de la liste de nav */
#nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* Appliquer une marge de tout les cotés pour les éléments de la liste*/
#nav ul li {
    margin: 11px;
}

/* Le titre des lien de la liste de navigation latéral */
#title-nav{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 35px;
}

/* Mettre les elements de la av page en CAPITALE + taille et police d'ecriture*/
.texte-nav {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase; 
}

/* Les espacement entre Le titre des liens du nav et le reste des elements et Auteur par rapport à github */
#title-nav, #auteur{
    height: 35px;
}

/* Les espacement entre soutenir et auteur, et entre github et contact (un espacement moindre) */
#soutenir, #github{
    height: 23px;
}

/* Réglage de l'affichage des icons des réseau */
#icons-reseaux{
    /* Gerer leur emplacement et positionnement */
    display: flex;
    justify-content: space-between;

    /* Les marges.. etc */
    margin-bottom: 20px;
    padding-left: 13px;
    margin-right: 80px;
    transition: 0.3s;
}

/* Ces dernieres propriétés concernent la taille des icon réseau et leurs espacements */
#icons-reseaux .icon-instagram{
    width: 12px;
    height: 12px;
    margin-left: 15px;
}


#icons-reseaux .icon-twitter{
    width: 12px;
    height: 12px;
    margin-left: 13px;
}


#icons-reseaux .icon-facebook{
    width: 12px;
    height: 12px;
}



/*
 --
 ---- Main page :
 --
*/

main{
    padding-top: 70px;
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
}

/* Police et taille du text de la page */
.title{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 20px;
    color: white;
    margin-top: auto;
}

/* Taille des deux div/3 de main */
.input, .output {
    width: 100vw;
    height: calc(100vh - 100px);
}

/* Disposition des ligne du coté input et output */
.line{
    display: flex;
    justify-content: space-between;
    margin: 6px;
    margin-left: 40px;
}

/* Taille et marge des elements input */
input{
    width: 80px;
    height: 40px;
    margin-right: 4px;
}

/* Placer elements du coté gauche au centre de la page  */
form{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* back* pour le coté bot des input de gauche */
.ack{
    margin-bottom: auto;
}

/* La couleur et la taille et son background pour les emd-name */
.emd-name{
    background-color: #232323;
    padding-top: 13.9px;
    padding-bottom: 13.9px;
    color: #ffffff;
    width: 85px;
}

/* espacement pour le emd-name */
.emd-name span, .note-module span, .module-name span{
    margin-left: 9px;
}

/* Majuscule et taille et position des cellules */
.emd-name, input{
    font-size: 16px;
    margin-bottom: auto;
    margin-top: auto;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Supression des flèches de focus des input */
/* Pour Chrome, Safari, Edge et Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/* Pour Firefox */
input[type=number]{
    -moz-appearance: textfield;
}

/* supression des border des input lord du focus */
.input input:focus{
    outline-width: 0;
}

/* Pour un alligement à gauche grace au flex*/
.tp-name{
    margin-right: auto;
}

/* Personnalisation du botton reset */
#reset{
    color: #ffffff;
    background-color: #232323;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 115.5px;
}

/* changement de bordure au hover */
#reset:hover{
    background-color: #1a1919;
}

/* Aucun idée de ce que fais cette chose mais j'aime bien */
#reset:hover:focus {
    border: 1px solid #585858;
}

/* Disposition du layout go */
.go{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

/* Mettre le Go au milieux */
.go button{
    margin: auto;
}

/* Personalisation du button Go */
.go button{
    color: #ffffff;
    background-color: #B80C0C;
    border: none;
    width: 82px;
    height: 40px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Personalisation du button Go au hover */
.go button:hover{
    background-color: #920909;
}

/* Personalisation du button Go et sauvgarder au focus (suprression des bordures au clic */
.go button:focus, .sauvgarder:focus {
    outline: 1px solid #707070;
}

/* Disposition flex pour le coté des output */
.output{
    display: flex;
    justify-content: space-between;
}

/* Positionner le "tableau des outputs au centre */
.module-result{
    margin: auto;
}

/* La disposition flex */
.note{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 100px);
    margin-left: auto;
}

/* Réglage de la forme bizarre de la moyenne */
.note svg{
    width: 120px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

/* Le texte "MOYENNE GENERALE" et de la moyenne en chiffre 00.00*/
.note .moyenne{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    fill: white;
}

/* Réglage de la moyenne en chiffre 00.00 */
#number{
    fill: #232323;
    font-size: 56px;
}

/* buttola moyenne en chiffre 00.00 sauvgarder */
.sauvgarder{
    color: #ffffff;
    background-color: #232323;
    border: none;
    width: 160px;
    height: 30px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Positionner le div du button sauvgarder */
.sauvgarder-div{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

/* Personnalisation des notes de module et les noms des modules */
.output .note-module, .module-name{
    font-size: 15px;
    margin-bottom: auto;
    margin-top: auto;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Personnalisation des notes de module */
.output .note-module{
    background-color: #ffffff;
    width: 80px;
    padding-top: 13.9px;
    padding-bottom: 13.9px;
    color: #232323;
}

/* Personnalisation des noms de modules dans le coté output*/
.module-name{
    background-color: #232323;
    padding-top: 13.9px;
    padding-bottom: 13.9px;
    color: #ffffff;
    width: 80px;
}