a{
    text-decoration: none;
    color: var(--white);
    margin: 0px;
    
}

/*
 --
 ---- Header :
 --
 */

 .header {
    background-color: var(--dark-purple);

    /* Pour le positionnement du header */
    z-index: 99;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100vw;

    /* Pour le dispositionnement des icons du header */
    display: flex;
    justify-content: space-between;
}

/* Taille et position des icons du header */
.icon-menu img{
    width: 12px;
    height: 12px;
    margin-right: 25px;
    margin-left: 15px;
}

/* Taille du logo du header */
#logo-header img{
    width: 26px;
    height: 27px;
}

/* Alignement verticale pour les icons du header */
.header p{
    margin-top: auto;
    margin-bottom: auto;
}



/*
 --
 ---- Menu de navigation :
 -- 
 */

 #nav{
    /* Pour la transaction du menu */
    width: 0;
    z-index: 98;
    transition: 0.5s;
    overflow: hidden;

    /* Pour le positionnement du menu */
    position: fixed;
    background-color: var(--dark-purple);
    height: calc(100vh - 50px);
    top: 50px;

    /* Reglages de la disposition des icons en bas du menu */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Couleur white pour les icons reseaux */
#nav svg{
    fill: var(--white);
}

/* Couleur red' au survol des liens du menu latéral et de ses icons reseaux */
#nav a:hover, #icons-reseaux svg:hover{
    color: var(--red);
    fill: var(--red);
}

/* style des éléments de la liste de nav */
#nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 18px;
}

/* Appliquer une marge de tout les cotés pour les éléments de la liste*/
.texte-nav {
    margin: 11px;
    font-size: 10px;
}

/* Le titre des lien de la liste de navigation latéral */
#title-nav{
    text-transform: capitalize;
    height: 35px;
    font-weight: 400;
}

/* Le gras sur la premiere ligne de la liste nav */
#title-nav strong{
    font-weight: 700;
    font-size: 11px;
    height: 35px;
}

/* Les espacement entre Le titre des liens du nav et le reste des elements et Auteur par rapport à github */
#title-nav, #auteur{
    height: 35px;
}

/* Les espacement entre soutenir et auteur, et entre github et contact (un espacement moindre) */
#soutenir, #github{
    height: 23px;
}

/* Réglage de l'affichage des icons des réseau */
#icons-reseaux{
    /* Gerer leur emplacement et positionnement */
    display: flex;
    justify-content: space-between;

    /* Les marges.. etc */
    margin-bottom: 20px;
    padding-left: 13px;
    margin-right: 80px;
    transition: 0.3s;
}

/* Ces 3 propriétés concernent la taille des icon réseau et leurs espacements */
#icons-reseaux .icon-instagram, .icon-twitter{
    width: 12px;
    height: 12px;
    margin-left: 13px;
}
#icons-reseaux .icon-facebook{
    width: 12px;
    height: 12px;
}